/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
    @apply box-border m-0;
}
html {
    @apply scrollbar-thin scrollbar-thumb-white scrollbar-track-black overflow-y-auto text-sm box-border bg-black; 
}

@font-face {
    font-family: "AKTURA";
    src: url('~assets/fonts/AKTURA.woff') format('woff'),
          url('~assets/fonts/AKTURA.woff2') format('woff2'),
          url('~assets/fonts/AKTURA.eot'),
          url('~assets/fonts/AKTURA.eot?#iefix') format('embedded-opentype'),
          url('~assets/fonts/AKTURA.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: "ALISEO";
  src: url('~assets/fonts/ALISEO.woff') format('woff'),
        url('~assets/fonts/ALISEO.woff2') format('woff2'),
        url('~assets/fonts/ALISEO.eot'),
        url('~assets/fonts/ALISEO.eot?#iefix') format('embedded-opentype'),
        url('~assets/fonts/ALISEO.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer components {
    /* SCROLLBAR */
    .scrollbar-thumb-black {
        --scrollbar-thumb: #000000 !important;
        
    }
    .scrollbar-thumb-white {
        --scrollbar-thumb: #ffffff !important;
        
    }
    .scrollbar-track-black {
        --scrollbar-track: #000000 !important;

    }
    .scrollbar-track-white {
        --scrollbar-track: #ffffff!important;

    }
    .scrollbar-thin {
        --scrollbar-track: initial;
        --scrollbar-thumb: initial;
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
        overflow: overlay;
    }
    .scrollbar-thin.overflow-x-hidden {
        overflow-x: hidden;
    }
    .scrollbar-thin.overflow-y-hidden {
        overflow-y: hidden;
    }
    .scrollbar-thin::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track);
    }
    .scrollbar-thin::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
    }
    .scrollbar-thin {
        scrollbar-width: thin;
    }
    .scrollbar-thin::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
}

@tailwind utilities;